<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">type1</th>
        <th scope="col">type2</th>
        <th scope="col">total</th>
        <th scope="col">h</th>
        <th scope="col">a</th>
        <th scope="col">b</th>
        <th scope="col">c</th>
        <th scope="col">d</th>
        <th scope="col">s</th>
      </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let pokemon of list">
            <tr>
                <th scope="row">{{pokemon.id}}</th>
                <td>{{pokemon.name}}</td>
                <td>{{pokemon.type1}}</td>
                <td>{{pokemon.type2}}</td>
                <td>{{pokemon.status.}}</td>
                <td>{{pokemon.status.h}}</td>
                <td>{{pokemon.status.a}}</td>
                <td>{{pokemon.status.b}}</td>
                <td>{{pokemon.status.c}}</td>
                <td>{{pokemon.status.d}}</td>
                <td>{{pokemon.status.s}}</td>
            </tr>
        </ng-container>
    </tbody>
  </table>
