header nav ul {
    display: flex;
    justify-content: space-around;
    width: 1240px;
    margin: 0 auto;
    padding: 10px 20px;
  }
  header nav ul li a:hover {
    text-decoration: underline;
  }
  