<!--
<button mat-raised-button color="primary">Click me!!</button>
-->
<table mat-table [dataSource]="list">
  
  <mat-text-column name="id"></mat-text-column>
  <ng-container matColumnDef="branch">
    <th mat-header-cell *matHeaderCellDef> branch </th>
    <td mat-cell *matCellDef="let pokemon"> {{pokemon.branch}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> name </th>
    <td mat-cell *matCellDef="let pokemon"> {{pokemon.name}} </td>
  </ng-container>

  <ng-container matColumnDef="type1">
    <th mat-header-cell *matHeaderCellDef> type1 </th>
    <td mat-cell *matCellDef="let pokemon"> {{pokemon.type1}} </td>
  </ng-container>

  <ng-container matColumnDef="type2">
    <th mat-header-cell *matHeaderCellDef> type2 </th>
    <td mat-cell *matCellDef="let pokemon"> {{pokemon.type2}} </td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef> total </th>
    <td mat-cell *matCellDef="let pokemon"> {{pokemon.status.total}} </td>
  </ng-container>

  <ng-container matColumnDef="h">
    <th mat-header-cell *matHeaderCellDef> h </th>
    <td mat-cell *matCellDef="let pokemon"> {{pokemon.status.h}} </td>
  </ng-container>

  <ng-container matColumnDef="a">
    <th mat-header-cell *matHeaderCellDef> a </th>
    <td mat-cell *matCellDef="let pokemon"> {{pokemon.status.a}} </td>
  </ng-container>

  <ng-container matColumnDef="b">
    <th mat-header-cell *matHeaderCellDef> b </th>
    <td mat-cell *matCellDef="let pokemon"> {{pokemon.status.b}} </td>
  </ng-container>

  <ng-container matColumnDef="c">
    <th mat-header-cell *matHeaderCellDef> c </th>
    <td mat-cell *matCellDef="let pokemon"> {{pokemon.status.c}} </td>
  </ng-container>

  <ng-container matColumnDef="d">
    <th mat-header-cell *matHeaderCellDef> d </th>
    <td mat-cell *matCellDef="let pokemon"> {{pokemon.status.d}} </td>
  </ng-container>

  <ng-container matColumnDef="s">
    <th mat-header-cell *matHeaderCellDef> s </th>
    <td mat-cell *matCellDef="let pokemon"> {{pokemon.status.s}} </td>
  </ng-container>

  <tr class="header-row" mat-header-row *matHeaderRowDef="columnName"></tr>
  <tr mat-row *matRowDef="let row; columns: columnName;"></tr>
</table>

